* {
    box-sizing: border-box;
}

hr {
    height: 1px;
    border-width: 0;
    color: lightgray;
    background-color: lightgray
}

body {
    margin: 0;
}

div {
    outline: solid 1px fred;
    height: fit-content;
}

.icon {
    width: 50%;
    height: fit-content;
    margin: auto;
    margin-bottom: 50px;
}

.search {
    margin-bottom: 100px;
}

.user {
    margin-bottom: 450px;
}

.left {
    width: 5%;
    position: fixed;
    top: 0;
    z-index: 1;
    clear: right;
    margin: auto;
    padding: 25px 0 0 0.5%;
}

.mid {
    background-color: #fafafa;
    width: 25%;
    height: auto;
    float: left;
    margin-left: 5%;
    padding: 70px;
}

.user-data {
    margin-bottom: 35%;
    height: max-content;
}

.user-image {
    height: fit-content;
    width: auto;
    margin-right: 5%;
    float: left;
}

.user-name {
    height: fit-content;
    width: auto;
    float: left;
    clear: right;
}

.name {
    font-size: 2em;
    font-family: 'Roboto serif';
    margin: 0.5em 0 0 0;
    font-weight: bold;
}

.wel {
    font-family: 'Roboto';
    margin-top: 0.5em;
}

.today,
.recent {
    height: fit-content;
    padding: 30px;
}

.acc-head,
.recent-head {
    clear: both;
    font-family: 'Roboto serif';
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0;
}

.p1 {
    font-size: 1.5em;
    font-weight: bold;
}

.p2 {
    font-family: 'Roboto';
    color: #a9a9a9;
}

.acc-bal {
    font-family: 'Roboto';
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

.acc-desc {
    font-family: 'Roboto';
    color: #a9a9a9;
    margin: 0 0 1.5em 0;
}

.acc-amt {
    font-family: 'Roboto';
    font-weight: bold;
    margin-bottom: 0.5em;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: fit-content;
}

.btn-want {
    font-family: 'Roboto';
    font-size: 0.8vw;
    width: 6vw;
    color: white;
    text-align: center;
    background-color: #4935ff;
    padding: 0.7vw 1vw;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
}

.btn-want:hover {
    background-color: #422fe9;
}

.want-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    height: fit-content;
    background-color: white;
    width: 125px;
    padding: 5px;
    border: 1px solid #4935ff;
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 0.9em;
    text-align: center;
    cursor: default;
}

.dropdown:hover .want-dropdown {
    display: block;
}

.want-dropdown p:hover {
    cursor: pointer;
}

.recent-date {
    font-family: 'Roboto';
    color: #a9a9a9;
    margin-bottom: 0;
}

.recent-transac {
    font-family: 'Roboto';
    font-weight: bold;
    margin-top: 0.5em;
}

.right {
    width: 50%;
    height: auto;
    float: left;
    padding: 30px 90px;
    font-family: 'Roboto serif';
}

.retire-head {
    color: #4935ff;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.retire-year {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
}

.strat-left {
    height: fit-content;
    width: auto;
}

.goal {
    float: left;
    font-family: 'Roboto';
    height: fit-content;
    width: 25%;
    margin-right: 5%;
    border-bottom: 1px solid #4935ff;
}

.goal .amt {
    font-size: 2em;
    margin-bottom: 0;
    font-weight: bold;
}

.goal .desc {
    color: #a9a9a9;
}

.chart-head {
    height: fit-content;
    width: fit-content;
    clear: both;
    margin-top: 25%;
    font-size: 1.5em;
    font-weight: bold;
}

#borderPieChart1,
#borderPieChart2,
#borderPieChart3 {
    width: 130px;
    height: 130px;
}

.option {
    font-family: 'Roboto';
    width: 25%;
    height: fit-content;
    padding-right: 5%;
    float: left;
}

.option span {
    font-weight: bold;
}

.pie {
    height: fit-content;
    width: fit-content;
    float: left;
    padding-right: 5%;
}

.end {
    width: 20%;
    float: left;
    height: 100%;
    padding: 30px 40px 30px 10px;
}

.strategy {
    height: 40%;
    width: auto;
    background-color: #fafafa;
    padding: 5%;
    border-radius: 5px;
}

.slider {
    height: auto;
    width: 100%;
    font-family: 'Roboto';
    clear: both;
}

#range1,
#range2 {
    float: left;
}

#val,
#val2 {
    float: left;
    width: fit-content;
    margin: 0 10px 30px 10px;
}

.strat-data {
    width: 100%;
    height: 120px;
    font-family: 'Roboto';
    font-weight: bold;
    clear: both;
}

.update-btn {
    width: 9vw;
    margin: 5% 20%;
    padding: 10px;
    font-family: 'Roboto';
    font-size: 1vw;
    border: none;
    clear: both;
    color: #ffffff;
    background-color: #4935ff;
    border-radius: 10px;
    transition: 0.2s;
}

.update-btn:hover {
    background-color: #422fe9;
}

a {
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 0.8em;
    clear: both;
}

.ad {
    width: 100%;
    height: fit-content;
    padding: 5px 15px;
    margin: 7%;
    margin-top: 30%;
    clear: both;
    border-left: 1px solid #4935ff;
}

.strat-head {
    font-family: 'Roboto serif';
    font-size: 1.5em;
    font-weight: bold;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70%;

}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    /* change bg color */
    background: #85afff;

}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: black;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: white;
    background-size: 50%;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.5);
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

a:visited{
    color: #422fe9;
}

@media only screen and (max-width: 1600px) {
    .goal {
        margin-right: 1%;
    }

    .goal .amt {
        font-size: 1.5em;
    }

    .goal .desc {
        font-size: 0.7em;
    }

    .chart-head {
        margin-top: 25%;
    }

    .mid {
        padding: 30px;
    }

    .chart-head,
    .p1,
    .retire-year,
    .strat-head {
        font-size: 1.25em;
    }

    .recent-date,
    .recent-transac {
        font-size: 0.85em;
    }

    #borderPieChart1,
    #borderPieChart2,
    #borderPieChart3 {
        width: 100px;
        height: 100px;
    }

    .option {
        font-size: 0.7em;
    }

}

@media only screen and (max-width: 1300px) {
    .left {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 30px;
    }

    .icon {
        margin: auto;
        float: left;
        width: 12%;
        text-align: center;
    }

    .mid {
        width: 30%;
        margin-left: 2%;
    }

    .right {
        width: 45%;
        padding: 30px 0px 30px 40px;
    }

    .end {
        padding-right: 5px;
    }

    #borderPieChart1,
    #borderPieChart2,
    #borderPieChart3 {
        width: 90px;
        height: 90px;
    }

    .pie {
        padding-right: 2%;
    }

    .strat-data {
        font-size: 0.7em;
        height: 70px;
    }

    .slider {
        font-size: 0.7em;
    }

    .ad {
        display: none;
    }

    .chart-head,
    .p1,
    .retire-year,
    .strat-head,
    .recent-head,
    .acc-bal {
        font-size: 1.05em;
    }

    .name {
        font-size: 1.5em;
        margin: 1em 0 0 0;
    }

    .wel {
        font-size: 0.7em;
        margin-top: 1em;
    }

    a {
        font-size: 0.6em;
    }

    .recent-date,
    .recent-transac,
    .acc-amt,
    .acc-desc {
        font-size: 0.75em;
    }

    .goal .amt {
        font-size: 1.15em;
    }

    .goal .desc {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 1000px) {

    .right {
        float: right;
        width: 65%;
        padding: 30px 30px 0 0;
    }

    .end {
        float: left;
        clear: right;
        width: 65%;
        padding-top: 0;
        padding-bottom: 20px;
    }

    input[type="range"] {
        width: 50%;
    }

    .strat-head {
        margin-top: 0;
    }

    .strat-data {
        float: left;
        width: 40%;
        clear: none;
    }

    .strat-left {
        width: 50%;
        height: auto;
        float: left;
        margin-right: 10%;
        border-right: 1px solid gray;
    }

    #val2 {
        margin-bottom: 10px;
    }

    .update-btn {
        margin: 3% 30%;
    }

    .strategy hr {
        display: none;
    }

    .today,
    .mid,
    .recent {
        padding: 10px;
        padding-top: 20px;
    }

    .user-data {
        margin-bottom: 10px;
    }

    .user-image,
    .user-name {
        float: none;
        text-align: center;
        margin: auto;
    }

}

@media only screen and (max-width:600px) {

    .mid,
    .right,
    .end {
        float: none;
        width: 100%;
        margin: 0;
        padding: 10%;
        background-color: #ffffff;
    }

    .user-image,
    .user-name {
        float: left;

    }

    .user-name {
        margin-left: 5%;
    }

    .user-data {
        width: 100%;
        height: 110px;
    }

    .today {
        clear: left;
        padding: 20px 30px;
    }

    .today,
    .recent{
        background-color: #fafafa;
        border-radius: 10px;
    }

    .acc-bal {
        font-size: 8vw;
        margin: 0;
    }

    .acc-head {
        margin-bottom: 0.5em;
    }

    .acc-desc {
        font-size: 1em;
    }

    .acc-amt {
        font-size: 1.5em;
    }

    .acc1,
    .acc2 {
        float: left;
        width: 50%;
        height: 127px;
    }

    .dropdown {
        width: 100%;
        font-size: 2em;
    }

    .btn-want {
        clear: both;
        width: 60%;
        margin: 0 20%;
        font-size: 0.5em;
        padding: 10px;
    }

    .want-dropdown {
        width: 60%;
        margin: 0 20%;
    }

    .recent {
        padding: 5% 10%;
        margin-top: 5%;
    }

    .recent-head,
    .retire-year,
    .chart-head,
    .p1,
    .strat-head {
        font-size: 1.5em;
    }

    .recent-date,
    .recent-transac {
        font-size: 1em;
    }

    .goal .amt {
        font-size: 2em;
    }

    .goal .desc {
        font-size: 1em;
    }

    .goal {
        width: 100%;
    }

    #goal2,
    #goal3 {
        width: 40%;
        float: left;
        margin: 0;
    }

    #goal2 {
        margin-right: 20%;
    }

    .chart-head {
        float: left;
        margin-top: 15%;
    }

    .peer {
        margin-top: 15%;
    }

    .option {
        width: 100%;
        padding: 0;
        font-size: 1em;
    }

    .strategy,
    .end {
        float: none;
        clear: both;
        height: fit-content;
    }

    #borderPieChart1,
    #borderPieChart2,
    #borderPieChart3 {
        width: 100px;
        height: 100px;
        margin: auto;
    }

    .strat-left,
    .strat-data{
        float: none;
        clear: both;
        width: 100%;
        margin: 0;
        border:none; 
    }

    .update-btn{
        float: none;
        clear: both;
        width:100%;
        margin: 0;
        margin-top: 5%;
        font-size: 1.5em;
    }

    .help{
        display:none;
    }

    input[type="range"] {
        width: 80%;
    }

}

@media only screen and (max-width:450px) {}

@media only screen and (max-width:400px) {}